<?xml version="1.0" encoding="UTF-8"?>

<!--
/*=============================================================================*
 *                                                                             *
 *       Copyright © 2010 STABILIT Informatik AG, Switzerland                  *
 *                                                                             *
 *  Licensed under the Apache License, Version 2.0 (the "License");            *
 *  you may not use this file except in compliance with the License.           *
 *  You may obtain a copy of the License at                                    *
 *                                                                             *
 *  http://www.apache.org/licenses/LICENSE=2.0                                 *
 *                                                                             *
 *  Unless required by applicable law or agreed to in writing, software        *
 *  distributed under the License is distributed on an "AS IS" BASIS,          *
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   *
 *  See the License for the specific language governing permissions and        *
 *  limitations under the License.                                             *
 *=============================================================================*/
 
 Usage of log levels inside the service connector:
 =================================================
 Log levels: ALL, TRACE, DEBUG, INFO, WARN, ERROR, OFF

  ERROR = 	serious error which can be recovered. The execution may continue
						but error cause must be investigated and corrected.
  WARN = 	expected error that has been successfully recovered. 
						Signal to take a corrective action in the future.
						This is the production set=up for maximum performance. 
  INFO = 	Highly important event, documenting a significant activity.
						This is the production set=up for normal performance producing  
						reasonable (not too high) amount of output.
  DEBUG = 	Importance event, used to document regular activity.
						Can be enabled for troubleshooting.
  TRACE = 	Event used to track down problem in a particular area.
						Must be selectively enabled for a particular class or branch 

 Read slf4j documentation at: https://www.slf4j.org/docs.html 


  Instructions for use of OS environement variables and java system properties.
  ============================================================================= 
	OS Environment variables can be passed on the command line as =Dvariable=%OS_VARIABLE%
	and can be accesses here with the syntax ${variable}
	E.g. log path defined as OS environment variable LOG_DIR can be passed
	on the command line as =Dlogdir=%LOG_DIR% and then used in this file as:
 		logPath=${logdir}

	Java system properties can be accesses here with the syntax ${property}
	E.g. java system property file.separator can be used in this file as:
		fs=${file.separator}
							  	
	For list of available java system properties see:
	http://download.oracle.com/javase/tutorial/essential/environment/sysprop.html
 ===============================================================================

--> 

<configuration>
  <property name="fs" value="${file.separator}" />
  <property name="logPath" value="${fs}logs${fs}srv" />

  <appender name="connectionLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}connection.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}connection.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="messageLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}message.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}message.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p \(%c:%L\) - %m%n</pattern>
    </encoder>
  </appender>
  <appender name="generalLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}sc.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p \(%c:%L\) - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}sc.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>
  <logger name="ConnectionLogger" additivity="false" level="TRACE">
    <appender-ref ref="connectionLog"/>
  </logger>
  <logger name="MessageLogger" additivity="false" level="TRACE">
    <appender-ref ref="messageLog"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="generalLog"/>
  </root>
</configuration>

