
div#sc_header {
	background-color: #D6A600;
	width: 100%;
	height: 56px;
}

div#sc_menu {
	background-color: #EEEEEE;
	border-bottom: solid 4px #D6A600;
	padding: 0px;
	height: 24px;
}

div.sc_menu_item_over {
	background-color: #D6A600;
	color:#FFFFFF;
	padding:4px;
	float:left;
	height:16px;
}

.sc_navigation_item_over {
	background-color: #D6A600;
	color:#FFFFFF;
	border-bottom: 1px solid #666666;
	border-right: 0px solid #666666;
	text-align: center;
	padding: 1px;
}

div#sc_login_title {
	background: #D6A600;
	color: white;
	padding-top: 4px;
	font-size: 14px;
	font-weight: bold;
	height: 18px;
	width: 260px;
	text-align: center;
}

tr.sc_table_odd_over {
	background-color: #D6A600;
	color:#FFFFFF;
}

tr.sc_table_even_over {
	background-color: #D6A600;
	color:#FFFFFF;
}


tr.sc_sub_table_odd_over {
	background-color: #1FB634;
	color:#FFFFFF;
}

td.sc_sub_table_odd_over {
	background-color: #1FB634;
	color:#FFFFFF;
}

tr.sc_sub_table_even_over {
	background-color: #1FB634;
	color:#FFFFFF;
}

td.sc_sub_table_even_over {
	background-color: #1FB634;
	color:#FFFFFF;
}

td.sc_table_even_over {
	background-color: #D6A600;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 1px;
	vertical-align: top;
}

td.sc_table_odd_over {
	background-color: #D6A600;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 1px;
	vertical-align: top;
}

div.sc_table_title {
	background: #D6A600;
	color: white;
	padding-top: 4px;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	text-align: center;
}

.sc_table_details {
	padding:1px;
	border:2px solid #D6A600;
}