<?xml version="1.0" encoding="UTF-8"?>

<!--
USED FOR 1-ST LEVEL CASCADED SC NODE IN CASCADED CONFIGURATION
============================================================== 
--> 

<configuration>
  <property name="fs" value="${file.separator}" />
  <property name="logPath" value="target${fs}logs${fs}sc1" />

  <appender name="cacheLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}cache.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}cache.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="subscriptionLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}subscription.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}subscription.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="messageLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}message.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}message.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="sessionLog" class="ch.qos.logback.core.rolling.RollingFileAppender">    
    <File>${logPath}${fs}session.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}session.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="NettyLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}netty.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p \(%c:%L\) - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}netty.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="performanceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}performance.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}performance.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="connectionLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}connection.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}connection.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="generalLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logPath}${fs}sc.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%t] %-5p \(%c:%L\) - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logPath}${fs}sc.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
  </appender>
  <logger name="CacheLogger" additivity="false" level="OFF">
    <appender-ref ref="cacheLog"/>
  </logger>
   <!-- subscriptions:
   INFO level for subscription timeout and abortion
   DEBUG level for subscribe, change subscription, unsubscribe, abortion and timeout
   TRACE level for all subscription events
   --> 
  <logger name="SubscriptionLogger" additivity="false" level="OFF">
    <appender-ref ref="subscriptionLog"/>
  </logger>
  <!-- messages:
   DEBUG important message attributes
   TRACE all message attributes
   --> 
  <logger name="MessageLogger" additivity="false" level="OFF">
    <appender-ref ref="messageLog"/>
  </logger>
  <!-- sessions:
   INFO level for session timeout and abortion
   DEBUG level for session creation, deletion, abortion and timeout
   TRACE level for all session events
   -->
  <logger name="SessionLogger" additivity="false" level="OFF">
    <appender-ref ref="sessionLog"/>
  </logger>
  <!-- performance:
   TRACE level for begin and end points
   -->
  <logger name="PerformanceLogger" additivity="false" level="OFF">
    <appender-ref ref="performanceLog"/>
  </logger>
  <!-- connections:
   DEBUG level for connection creation and deletion
   TRACE level for read buffer, write buffer, send keepalive
   --> 
  <logger name="ConnectionLogger" additivity="false" level="OFF">
    <appender-ref ref="connectionLog"/>
  </logger>
  <logger name="io.netty" additivity="false" level="WARN">
    <appender-ref ref="NettyLog"/>
  </logger>
  <root level="WARN">
    <appender-ref ref="generalLog"/>
  </root>
</configuration>