<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>demo-web-server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>scPort</param-name>
		<param-value>7000</param-value>
	</context-param>
	<context-param>
		<param-name>scHost</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>tomcatPort</param-name>
		<param-value>8080</param-value>
	</context-param>
	<context-param>
		<param-name>toSCKeepAliveIntervalSeconds</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>keepAliveTimeoutSeconds</param-name>
		<param-value>10</param-value>
	</context-param>
	<servlet>
		<description>Demo servlet session service implementation</description>
		<display-name>DemoSCSessionServlet</display-name>
		<servlet-name>DemoSCSessionServlet</servlet-name>
		<servlet-class>org.serviceconnector.web.example.DemoSCSessionServlet</servlet-class>
		<init-param>
			<param-name>serviceName</param-name>
			<param-value>session-1</param-value>
		</init-param>
		<init-param>
			<param-name>maxConnections</param-name>
			<param-value>100</param-value>
		</init-param>
		<init-param>
			<param-name>maxSessions</param-name>
			<param-value>100</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoSCSessionServlet</servlet-name>
		<url-pattern>/DemoSCSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Demo servlet publish service implementation</description>
		<display-name>DemoSCPublishServlet</display-name>
		<servlet-name>DemoSCPublishServlet</servlet-name>
		<servlet-class>org.serviceconnector.web.example.DemoSCPublishServlet</servlet-class>
		<init-param>
			<param-name>serviceName</param-name>
			<param-value>publish-1</param-value>
		</init-param>
		<init-param>
			<param-name>maxConnections</param-name>
			<param-value>100</param-value>
		</init-param>
		<init-param>
			<param-name>maxSessions</param-name>
			<param-value>100</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoSCPublishServlet</servlet-name>
		<url-pattern>/DemoSCPublishServlet</url-pattern>
	</servlet-mapping>
</web-app>